.button-hover {
    -fx-background-color: #D0F0C0; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
    -fx-transition: 0.3s ease-in-out;
}

.shadow:hover {
    -fx-background-color: #043927; /* Hijau lebih gelap */
    -fx-transform: scale(1.1); /* Membesar saat hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 7);
}

/* Tombol dasar */
.button-hover-1 {
/*    -fx-background-color: #D0F0C0;  Warna dasar 
    -fx-text-fill: #043927;  Warna teks gelap */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
    -fx-transition: all 0.4s ease-in-out;
    -fx-cursor: hand; /* Mengubah kursor menjadi pointer */
}

/* Hover efek neon */
.button-hover-1:hover {
   
    -fx-text-fill: #D0F0C0;  
    -fx-effect: dropshadow(gaussian, #8cc342, 20, 0.5, 0, 0); /* Efek cahaya neon */
    -fx-transform: scale(1.1); /* Membesar saat hover */
}

/* Klik efek tambahan */
.button-hover-1:pressed {
/*    -fx-background-color: #043927;  Warna hijau gelap */
/*    -fx-text-fill: #8cc342;  Teks hijau terang */
    -fx-transform: scale(0.95); /* Sedikit mengecil saat diklik */
}

/* Efek kursor tambahan */
.root-pane:hover {
    -fx-cursor: crosshair; /* Mengubah kursor menjadi crosshair di area tertentu */
}
